File contains a number of useful pandas code snippets

In [3]:
import pandas as pd
import numpy as np

http://pandas.pydata.org/pandas-docs/stable/10min.html#selection-by-label

In [8]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.165561  0.448341 -0.248827  0.979951
2013-01-02 -1.099510  0.961390 -1.072249 -1.501110
2013-01-03  1.753232 -0.652820  0.041607  0.585780
2013-01-04 -0.348810  0.991584 -0.734630  1.588324
2013-01-05  0.137391  0.251549  0.137670  0.573410
2013-01-06 -0.258865 -1.729995  0.695200 -0.079788

In [23]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.values

array([[ 1.16556072,  0.44834103, -0.2488271 ,  0.97995104],
       [-1.09951019,  0.9613897 , -1.07224927, -1.50110961],
       [ 1.75323207, -0.65282035,  0.04160718,  0.5857804 ],
       [-0.34880994,  0.99158422, -0.73462963,  1.58832429],
       [ 0.13739135,  0.25154917,  0.13766994,  0.57340954],
       [-0.2588651 , -1.72999514,  0.69519981, -0.07978794]])

In [24]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.224833  0.045008 -0.196872  0.357761
std    1.053141  1.056286  0.636043  1.062709
min   -1.099510 -1.729995 -1.072249 -1.501110
25%   -0.326324 -0.426728 -0.613179  0.083511
50%   -0.060737  0.349945 -0.103610  0.579595
75%    0.908518  0.833128  0.113654  0.881408
max    1.753232  0.991584  0.695200  1.588324

In [26]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.979951 -0.248827  0.448341  1.165561
2013-01-02 -1.501110 -1.072249  0.961390 -1.099510
2013-01-03  0.585780  0.041607 -0.652820  1.753232
2013-01-04  1.588324 -0.734630  0.991584 -0.348810
2013-01-05  0.573410  0.137670  0.251549  0.137391
2013-01-06 -0.079788  0.695200 -1.729995 -0.258865

In [27]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06 -0.258865 -1.729995  0.695200 -0.079788
2013-01-03  1.753232 -0.652820  0.041607  0.585780
2013-01-05  0.137391  0.251549  0.137670  0.573410
2013-01-01  1.165561  0.448341 -0.248827  0.979951
2013-01-02 -1.099510  0.961390 -1.072249 -1.501110
2013-01-04 -0.348810  0.991584 -0.734630  1.588324

In [28]:
df['B']

2013-01-01    0.448341
2013-01-02    0.961390
2013-01-03   -0.652820
2013-01-04    0.991584
2013-01-05    0.251549
2013-01-06   -1.729995
Freq: D, Name: B, dtype: float64